
Lista1/.DS_Store
.DS_Store
/Lista2/Questao1/primeiraquestao/build/
/Lista2/Questao1/primeiraquestao/dist/
/Lista3/Questao1/Primeira questao/nbproject/private/
/Lista3/Questao1/Test/nbproject/private/
/Lista3/Questao1/Test/build/
/Lista3/Questao1/Test/dist/
/Lista3/Questao1/segundaquestao/nbproject/private/
/Lista3/Questao2/segundaquestao/nbproject/private/
/Lista3/Questao2/Main/nbproject/private/
/Lista3/Questao2/Main/dist/
/Lista3/Questao2/Main/build/
/Lista3/Questao3/terceiraquestao/nbproject/private/
/Lista3/Questao3/CalculoPegadaCarbono/nbproject/private/
/Lista3/Questao3/CalculoPegadaCarbono/build/
/Lista3/Questao3/CalculoPegadaCarbono/dist/
/Lista 5/Questão2/nbproject/private/
/Lista 5/Questão2/dist/
/Lista 5/Questão2/build/
/Lista 5/Questão 5/nbproject/private/
/Lista 5/Questão5/nbproject/private/
/Lista 5/Questão5/dist/
/Lista 5/Questão5/build/
/Lista 5/Questão3/nbproject/private/
/Lista 5/Questão3/dist/
/Lista 5/Questão3/build/
