
Lista1/.DS_Store
.DS_Store
/Lista2/Questao1/primeiraquestao/build/
/Lista2/Questao1/primeiraquestao/dist/
/Lista3/Questao1/Primeira questao/nbproject/private/
/Lista3/Questao1/Test/nbproject/private/
/Lista3/Questao1/Test/build/
/Lista3/Questao1/Test/dist/
